.v-bubble {
  --bubble-x: 0;
  --bubble-y: 0;
  --bubble-size: 100px;
  --bubble-color: orange;
  --bubble-duration: 500ms;
  --bubble-opacity: 1;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    pointer-events: none;
    touch-action: none;
    position: absolute;
    left: calc(var(--bubble-x) - (var(--bubble-size) / 2));
    top: calc(var(--bubble-y) - (var(--bubble-size) / 2));
    background-color: var(--bubble-color);
    width: var(--bubble-size);
    height: var(--bubble-size);
    border-radius: 50%;
    animation: bubble var(--bubble-duration);
  }

  @keyframes bubble {
    from {
      transform: scale(0);
      opacity: var(--bubble-opacity);
    }
    to {
      transform: scale(1);
      opacity: 0;
    }
  }
}
